#imagesContainer {
    display: block;
}

#villainImage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    margin: 1rem;
}

.statusToken {
    height: 7rem;
    position: absolute;
    left: 78%; /* Position from left */
    transform: translate(-50%, -50%); /* Centers perfectly */
    border-radius: 10px; /* To round the white corners of the jpg images */
}

#toughToken {
    top: 32%; /* Position from top */
}

#confusedToken {
    top: 39%;
}

#stunnedToken {
    top: 46%;
}