.statusToken {
    height: 7rem;
    position: absolute;
    left: 78%; /* Position from left */
    transform: translate(-50%, -50%); /* Centers */
    border-radius: 10px; /* To round the white corners of the jpg images */
}

/* GENERAL VILLAINS*/
.toughToken {
    top: 37%; /* Position from top */
}
.confusedToken {
    top: 43.5%;
}
.stunnedToken {
    top: 50%;
}

/* LOKI */
#lokiToughToken {
    top: 55%; /* Position from top */
}
#lokiConfusedToken {
    top: 62%;
}
#lokiStunnedToken {
    top: 69%;
}

/* MANSION ATTACK */
#mansionAttackToughToken {
    top: 55.5%; /* Position from top */
}
#mansionAttackConfusedToken {
    top: 62.5%;
}
#mansionAttackStunnedToken {
    top: 69.5%;
}

/* MORLOCK SIEGE */
#morlockSiegeToughToken {
    top: 43%; /* Position from top */
}
#morlockSiegeConfusedToken {
    top: 50%;
}
#morlockSiegeStunnedToken {
    top: 57%;
}

/* SINISTER SIX */
#sinisterSixToughToken {
    top: 52%; /* Position from top */
}
#sinisterSixConfusedToken {
    top: 59%;
}
#sinisterSixStunnedToken {
    top: 66%;
}

/* SPIRAL */
#spiralToughToken {
    top: 39%; /* Position from top */
}
#spiralConfusedToken {
    top: 46%;
}
#spiralStunnedToken {
    top: 53%;
}

/* TOWER DEFENSE */
#towerDefenseToughToken {
    top: 41.5%; /* Position from top */
}
#towerDefenseConfusedToken {
    top: 48%;
}
#towerDefenseStunnedToken {
    top: 55%;
}

/* THE WRECKING CREW */
#theWreckingCrewToughToken {
    top: 38.5%; /* Position from top */
}
#theWreckingCrewConfusedToken {
    top: 45%;
}
#theWreckingCrewStunnedToken {
    top: 52%;
}