header {
    position: relative;
    padding: 1rem;
    background-color: #333;
    color: #fff;

    div {
        display: flex; 
        justify-content: space-between; 
        align-items: center;

        button {
            background: none;
            border: none;
            color: #fff;
            font-size: 2rem;
            cursor: pointer;
            margin-right: 1rem;
        }

        h1 {
            margin: 0;
        }
    }

    nav {
        position: absolute;
        top: 50px;
        left: 10px; /* Align the menu to the left */
        background-color: #444;
        padding: 1rem;
        border-radius: 0.5rem;

        .setButton {
            background: none;
            border: none;
            color: #fff;
            text-decoration: none;
            font-size: 1.25rem;
            font-weight: bold;
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                display: flex;
                flex-direction: column;
                margin: 1.5rem 0;

                div {
                    display: flex;
                    flex-direction: column;
                    margin-top: 0.25rem;

                    p {
                        margin: 0.5rem 0;
                    }
                }
            }
        }
    }
}