/* NORMAN OSBORN*/
#kangIAndIIIToughToken {
    top: 37.5%; /* Position from top */
}

#kangIAndIIIConfusedToken {
    top: 44%;
}

#kangIAndIIIStunnedToken {
    top: 51%;
}

/* GREEN GOBLIN*/
#kangIIToughToken {
    top: 41%; /* Position from top */
}

#kangIIConfusedToken {
    top: 48%;
}

#kangIIStunnedToken {
    top: 55%;
}
